@using Colo_Shop.IServices
@using Colo_Shop.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model User
@{
    IUserServices _service = new UserServices();
    IRoleServices _roleServices = new RoleServices();
    IBillServices _billServices = new BillServices();
    IProductServices _productServices = new ProductServices();
    IBillDetailsServices _billDetailsServices = new BillDetailsService();
    var id = ViewData["idUser"] as string;
    var IdUser = Guid.Parse(id);
    var user = _service.GetUserById(IdUser);

}

<div class="container" style="margin-top: 200px">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link btn btn-primary active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">
                Bill
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary  ml-2" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">
                Settings
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="wrapper bg-white mt-sm-5">
                @if (_billServices.GetAllBills().Where(p => p.UserID == user.Id).Count() > 0)
                {
                    <h2>Show List Bill</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Stt</th>
                            <th>
                                Create Date
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var i = 1;

                        }
                        @foreach (var item in _billServices.GetAllBills().Where(p => p.UserID == user.Id).ToList())
                        {
                            <tr>
                                <td>
                                    Bill- @i
                                </td>
                                <td>
                                    @item.CreateDate.ToLocalTime().ToString("F")
                                </td>
                                <td>
                                    @if (item.Status == 0)
                                    {
                                        <p class="text-danger">Wait</p>
                                    }
                                    else
                                    {
                                        <p class="text-success">Pay</p>
                                    }
                                </td>

                                <td>
                                    @if (item.Status == 0)
                                    {
                                        @Html.ActionLink("Pay", "Update", "Bill", new { id = item.Id })
                                        <span>|</span>
                                    }

                                    <a data-toggle="modal" data-target="#billDetailsModal" class="btn btn-danger" href='@Url.Action("PopupView", "Home", new { id = item.Id })'>
                                        <span>View</span>
                                    </a>

                                    <a class="btn btn-danger" href='@Url.Action("DeleteInMyAccount", "Bill", new { id = item.Id })'>
                                        <span>Delete</span>
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>No bill ? Go to shop ? <a asp-action="Shop">Now</a></h2>
                }
            </div>
            <div class="modal fade" id="billDetailsModal" tabindex="-1" role="dialog" aria-labelledby="billDetailsModalLabel" aria-hidden="true">
                @Html.Partial("PopupView")
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="wrapper bg-white mt-sm-5">
                <h4 class="pb-4 border-bottom">Account settings</h4>
                <form class="py-2" asp-action="Edit" asp-controller="User">
                    <div class="row py-2">
                        <div class="col-md-6">
                            <input asp-for="RoleId" value="@user.RoleId" hidden/>
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <input asp-for="Status" value="@user.Status" hidden/>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="firstname">User Name</label>
                            <input type="text" class="bg-light form-control" asp-for="Username" value="@user.Username">
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="lastname">Full Name</label>
                            <input type="text" class="bg-light form-control" asp-for="Name" value="@user.Name">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="email">Email Address</label>
                            <input type="text" class="bg-light form-control" asp-for="Email" value="@user.Email">
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="phone">Phone Number</label>
                            <input type="tel" class="bg-light form-control" asp-for="NumberPhone" value="@user.NumberPhone">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="phone">Password</label>
                            <input type="tel" class="bg-light form-control" asp-for="NumberPhone" value="@user.Password">
                        </div>
                    </div>
                    <div class="py-3 pb-4 border-bottom">
                        <button class="btn btn-primary mr-3" type="submit">Save Changes</button>
                        <button class="btn border button" asp-action="Index">Cancel</button>
                    </div>
                </form>
                <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                    <div>
                        <b>Deactivate your account</b>
                        <p>Details about your company account and password</p>
                    </div>
                    <div class="ml-auto">
                        <a class="btn btn-danger" href='@Url.Action("Delete", "Home", new { id = user.Id })'>
                            <span>Delete Account <i class="fa-remove"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>